<!DOCTYPE html>
{% load static %}
<html lang="fr">
    {% include "header.html" with mon_titre='Apropos' %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include "navbar.html" %}
            <section id="apropos" class="py-5">
                <main class="container">
                    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                        <div class="col-md px-0">
                            <h2 class="display-4 fst-italic text-center"><span class="text-gradient d-inline">A propos de BelAvenir</span></h2>
                        </div>
                    </div>
                    <hr>
                    <div class="p-3 rounded mt-3">
                        <p class="lead justifier"> Nous sommes Le Réseau Ivoirien du Tourisme et de l’Agro Ecotourisme (RETACI) est le réseau de passionnés professionnels de l’écotourisme en Côte d’Ivoire</p>
                        <p class="justifier"> 
                            Il est créé le 28 Janvier 2011 par des spécialistes du tourisme vert pour promouvoir la destination Côte d’Ivoire. 
                            Enregistré au Ministère de l’Intérieur sous le récépissé de Déclaration d’Association NUMERO 474/ME/MI/DGAT/SDVA du 12 juillet 2012, le RETACI a pour objectif de:
                            <ul>
                                <li>Promouvoir la destination Côte d’Ivoire par le tourisme durable ;</li>
                                <li>Concevoir et promouvoir les activités écotouristiques au plan nationales ;</li>
                                <li>Assurer l’accueil et l’information des visiteurs ;</li>
                                <li>Susciter l’organisation des loisirs et toute manifestation susceptible de mettre en valeur les richesses touristiques et écotouristiques au plan nationale ;</li>
                                <li>Faire aux autorités compétentes en matière de tourisme ou toute autre administration, toute proposition susceptible d’améliorer le produit touristique national;</li>
                                <li>Promouvoir un tourisme éducatif en milieu scolaire et universitaire.</li>
                            </ul>
                            <br>
                        </p>
                        
                        <h3>Organisation de RETACI</h3>
                        <p class="justifier">
                            Au niveau de son fonctionnement, le RETACI est constitué :   
                            <ul>
                                <li>d’une Assemblée Générale ; </li>
                                <li>d’un Conseil d’Administration ;</li>
                                <li>d’une Direction Exécutive ;</li>
                                <li>d’un Commissariat au Compte ;</li>
                            </ul>
                        </p>
                        <br>
                        <h3>
                            Affiliation et Partenariat au plan national et international Au plan national
                        </h3>
                        <p class="justifier">
                            Le Réseau RETACI est membre fondateur du Collectif des ONG œuvrant pour le développement du tourisme en Côte d’Ivoire (CODTCI) avec un agrément technique et professionnel du Ministère du Tourisme portant le numéro N°007/MT/CAB/du 06 MARS 2012. <br>
                            Le RETACI est membre fondateur de la Fédération Nationale des ONG et Réseau du Tourisme de Côte d’Ivoire (FENORTCI) et de la Coalition Nationale pour un Tourisme Durable en Côte d’Ivoire (CNTD).
                            Le RETACI est une organisation de la société civile partenaire de la Chambre de Commerce et d’Industrie de Côte d’Ivoire pour les projets écotouristiques.
                        </p>
                        <br>
                        <h3>Au plan international </h3>
                        <p class="justifier">
                            Au plan international, notre organisation est membre sympathisant, actif et professionnel de plusieurs organisations mondiales.
                            Le RETACI est membre mondial de la Coalition International pour un Tourisme Responsable (CITR) avec le Récépissé français : numéro 50 – 9 - 166 – 13.   
                            La Coalition Internationale pour un Tourisme Responsable regroupe aujourd’hui 156 acteurs dans 55 pays à travers le monde, tous engagés pour un tourisme responsable. 
                            L’objectif de la Coalition Internationale est d’informer, de sensibiliser, de convaincre, de dénoncer et de mobiliser les acteurs majeurs du tourisme (professionnels, gouvernements, ONG nationales et internationales) à l’intérêt du concept de Tourisme Responsable et Durable.
                        </p>
                        <p class="justifier">Le Réseau est aussi membre de la communauté en ligne de l’organisation mondiale « the Nature Conservancy ».</p>
                        
                        <p class="justifier">Le Réseau Ivoirien du Tourisme et de l’Agro Ecotourisme (RETACI) est l’une des rares organisations en Afrique francophone membre de la Plateforme et mouvement mondial  « NatureForAll »</p>
                        <p class="justifier">#NaturePourTous / #NatureForAll est un mouvement collectif, créé à la suite du Congrès mondial des parcs en 2014, en collaboration avec la Commission mondiale de l’Éducation et de la Communication et de la Commission mondiale des Aires Protégées de l’UICN. Ce mouvement a été lancé lors du Congrès mondial de la nature en septembre 2016, à Hawaï. Il vise à inspirer une nouvelle génération de penseurs et de gens d’actions, de tous les secteurs de la société à se rapprocher de la nature et à agir pour soutenir sa conservation.</p> 
                        <p class="justifier">
                            Le RETACI collabore avec plusieurs organisations internationales et plateforme de l’environnement, du tourisme et de l’écotourisme dans le monde à savoir :
                            <ul>
                                <li>Global Ecotourism Network ;</li>
                                <li>TAPAS Members group de l’Union Internationale pour la Conservation de la Nature ;</li>
                                <li>Programme Afrique les Aires Protégées (PAPACO) ;</li>
                                <li>Le Réseau Africain des professionnels du Tourisme ;</li>
                            </ul>
                        </p>
                        <br>
                        <h3>Distinction internationale</h3>
                        <p class="justifier">
                            18 Mars 2018 : Réseau Ivoirien du Tourisme et de l’Agro Ecotourisme (RETACI) désigné parmi les gagnants du  «  Prix international ARCH OF EUROPE (AE), « CATEGORIE OR » au 31ème Congrès international de la Qualité à Francfort  (www.bid-europe.com). Cette distinction est le résultat d’évaluations réalisées par les Quality Hunters, leaders, entrepreneurs et experts en qualité supervisés par Business Initiative Direction (BID). 
                            Le Prix BID de la Qualité est un symbole d’excellence décerné à des organisations qui, selon la philosophie de l’amélioration continue et de l’excellence, sont devenues des leaders dans le domaine de l’innovation.
                        </p>
                        <br>
                        <a class="btn btn-lg btn-primary" href="{% url 'projets' %}" role="button">Voir les activités réalisées »</a>
                    </div>

                </main>
            </section>
        </main>


        
        <!-- Footer-->
        {% include "footer.html" %}

    </body>
</html>





