<!DOCTYPE html>
{% load static %}
<html lang="fr">
    {% include "header.html" with mon_titre='Généralité sur les IST' %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include "navbar.html" %}
            <section id="apropos" class="py-3">
                <main class="container">
                    <div class="row g-5">
                        <div class="col-md-8" id="generalite">
                            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                Généralité sur les IST
                            </h3>

                            <article class="blog-post">
                                <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
                                <p>
                                    Les Infections Sexuellement Transmissibles (IST) sont des infections qui se transmettent par contact sexuel. Elles sont causées par des agents pathogènes tels que des virus, des bactéries ou des parasites. Ces infections ont une importance considérable dans la santé publique mondiale, car elles touchent des millions de personnes chaque année. Si elles ne sont pas diagnostiquées et traitées précocement, elles peuvent entraîner des complications sérieuses. Il est donc important de se faire diagnostiquer dès que possible.
                                </p>
                                
                                <p id="symptomes">
                                    <br><br> 
                                    <hr>
                                    <h4>
                                        Les symptômes les plus courants : 
                                    </h4>
                                    <ul>
                                        <li>
                                            Écoulement anormal par le vagin, le pénis ou l’anus, parfois douloureux (sensation 
                                            de brûlure). Souvent il est minime et ne fait pas très mal.
                                        </li>
                                        <li>
                                            Brûlures, démangeaisons, boutons ou verrues au niveau des organes sexuels ou de 
                                            l’anus.
                                        </li>
                                        <li>
                                            Chancre (petite bouton avec un trou indolore) sur la peau et les muqueuses (vagin, 
                                            pénis, gland, testicules, anus, bouche).
                                        </li>
                                        <li>
                                            Sensation de brûlure en urinant.
                                        </li>
                                        <li>
                                            Rougeurs des muqueuses (organes génitaux, anus, gorge).
                                        </li>
                                        <li>
                                            Douleurs pendant ou après les rapports sexuels.
                                        </li>
                                        <li>
                                            Douleurs au vagin, au méat urinaire (orifice à l’extrémité du gland) et/ou au bas 
                                            ventre, ganglions gonflés, fièvre.
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    Un simple contact entre muqueuses peut aussi être à l’origine d’une
                                    infection par une IST. Certaines IST se transmettent aussi lors du
                                    baiser et des caresses.
                                </p>
                                <p>
                                    Attention, être infecté·e par une IST peut augmenter le risque
                                    d’infection par une autre IST. En effet, les IST fragilisent les
                                    muqueuses qui deviennent alors de plus grande « porte d’entrée »
                                    pour les autres IST et pour le VIH. <br>
                                    Il est préférable d’éviter d’être infecté·e par plusieurs IST en même temps car cela
                                    complique le traitement médical, notamment celui contre le VIH.
                                    La plupart des IST peuvent être guéries sans laisser de séquelles si elles sont soignées à temps. 
                                    Il ne faut pas laisser ces infections sans traitement car non traitées, elles peuvent avoir des conséquences graves (stérilité, cancer, etc.).
                                    Certaines IST, comme le VIH ou l’Hépatite B, peuvent être traitées sans pour autant être guéries. On parle alors de maladies chroniques (qui restent dans le temps)
                                </p>
                                
                                <p id="causes"> 
                                    <br><br>
                                    <hr>
                                    <h4>
                                        Causes des IST: Les différents virus et bactéries responsables
                                    </h4>
                                    Ces infections sont généralement causées par des virus comme le VIH et l'HPV.
                                    Mais dans certains cas comme la chlamydia et la gonorrhée, ce sont des bactéries qui se propagent par les fluides corporels lors de rapports sexuels vaginaux, anaux ou oraux.
                                    Enfin, les parasites peuvent se transmettre lors de rapports sexuels. C’est le cas des parasites responsables de la trichomonase.
                                </p>
                                
                                <p id="ist_frequentes">
                                    <br><br>
                                    <hr>
                                    <h4>
                                        Les 8 IST les plus fréquentes sont : 
                                    </h4>
                                    <ul>
                                        <li>la syphilis ;</li>
                                        <li>la gonorrhée</li>
                                        <li>la chlamydiose</li>
                                        <li>la trichomonase</li>
                                        <li>l’hépatite B</li>
                                        <li>l’herpès génital</li>
                                        <li>le VIH (Virus de l’Immunodéficience Humaine)</li>
                                        <li>le papillomavirus humain (HPV)</li>
                                    </ul>
                                </p>
                            </article>
                        </div>

                        <div class="col-md-4">
                            <div class="position-sticky" style="top: 2rem;">
                                <div class="p-4">
                                    <h4 class="fst-italic">Accès rapide</h4>
                                    <ol class="list-unstyled mb-0">
                                        <li><a href="#generalite">Généralité sur les IST</a></li>
                                        <li><a href="#symptomes">Les symptômes les plus courants</a></li>
                                        <li><a href="#causes">Causes des IST</a></li>
                                        <li><a href="#ist_frequentes">Les IST les plus fréquentes</a></li>
                                        <li><a href="#departments">Tableau recapitulatif sur les IST</a></li>
                                    </ol>
                                </div>

                                <div class="p-4">
                                    <h4 class="fst-italic">Social</h4>
                                    <ol class="list-unstyled">
                                        <li><a href="#"><i class="bi bi-facebook"></i>.Facebook</a></li>
                                        <li><a href="#"><i class="bi bi-whatsapp"></i>.WhatsApp</a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i>.Youtube</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </section>
            <section id="departments" class="departments section  py-1">
                <br><br><br>
                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Tableau recapitulatif</h2>
                    <p>Symptômes, mode de transmission et de prévention des principales Infections Sexuellement Transmissibles</p>
                </div><!-- End Section Title -->
          
                <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="position-sticky" style="top: 3rem;">
                                <ul class="nav nav-tabs flex-column" role="tablist">
                                    <li class="nav-item " role="presentation">
                                        <a class="nav-link show" data-bs-toggle="tab" href="#departments-tab-1" aria-selected="false" role="tab" tabindex="-1">Hépatites A</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2" aria-selected="false" role="tab" tabindex="-1">Hépatites B</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3" aria-selected="false" role="tab" tabindex="-1">Hépatites C</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4" aria-selected="false" role="tab" tabindex="-1">Herpès Génitale</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5" aria-selected="true" role="tab">Blennorragie (Chaude pisse)</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-6" aria-selected="true" role="tab">Chlamydiae</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-7" aria-selected="true" role="tab">LGV (Lymphome granulomatose vénérienne)</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-8" aria-selected="true" role="tab">Papillomavirus (condylomes, crêtes de coq)</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-9" aria-selected="true" role="tab">Syphilis</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-10" aria-selected="true" role="tab">VIH</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane" id="departments-tab-1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Infection</h3>
                                            <p class="fst-italic">Hépatites A</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Fièvre, nausées, jaunisse, puis disparition des symptômes après quelques semaines</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par contact sexuel la transmission se fait lors des rapports bouche anus</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Dans de rares cas hépatite fulminante et atteinte sévère du foie nécessitant un greffe</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>15 à 45 jours</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Vaccination</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/hepatite_a.jpeg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-2" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Hépatites B</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Inexistant au niveau génital mais y'a la fièvre, fatigue, jaunisse dans 10% des cas</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par contact sexuel et par les liquides organiques (sang, liquide jaculatoire, Sperme et sécrétions vaginales) au cours d’un tatouage ou d’un piercing lésions de la peau s’il est en contact avec du sang, par les muqueuses vaginales, buccales et anales</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Maladies graves du foie Cirrhose et/ou cancer</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 1 à 6 mois</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Il existe un vaccin contre l’hépatite B <br>
                                                vaccination - <br>
                                                dépistage - <br>
                                                préservatif -
                                            </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/hepatite_b.jpg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-3" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Hépatites C</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Epuisement, fatigue, perte d’appétit, trouble de l’appareil digestif et fièvre. Dans 10 à 15% des cas, jaunisse</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>
                                                Contact avec le sang même en petite quantité, notamment lors d’échange de seringues usagée ou de matériel de préparation de shoot. 
                                                Au cours d’un tatouage ou d’un piercing dans des conditions non stériles. Le risque de transmission sexuelle est faible
                                            </p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>L’infection devient chronique chez environ 10% des cas. En 10 et 20 des porteurs chroniques font une cirrhose et 1à 5% des cas évoluent en cancer du foie</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 15 à 150 jours</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>
                                                Utiliser le matériel d’injection stérile à usage unique ainsi que le matériel de préparation. Ceux qui pratiquent une sexualité hard doivent être particulièrement vigilants aux saignements et blessures. 
                                            </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/hepatite_c.jpeg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-4" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Herpès Génitale</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Au niveau des organes génitaux de l’homme et de la femme : brûlures,petites cloques, plaies et démangeaisons</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Transmission pendant l’accouchement de la mère à l’enfant.</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Conséquences grave pour le nouveau-né</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 2 à 21 jours ensuite réactivation périodique</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Pendant les poussées, abstinence sexuelle et traitement, préservatifs</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/herpes.jpg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-5" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Blennorragie (Chaude pisse)</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Pour les hommes, écoulement de pus à l’extérieur de la verge, avec une sensation de brûlure en urinant ou encore appelé « chaude pisse ». Pour les femmes, inexistant ou minimes : pertes vaginales picotement urinaire.</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Contact sexuel génital, oral ou anal avec une personne infectée. Transmission de la mère à l’enfant pendant l’accouchement </p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Chez les hommes, baisse de la fertilité. Chez les femmes : infection de trompes pouvant entrainer la stérilité ou des grossesses entra utérines.</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 2 à 7 jours </p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Pendant le traitement Abstinence ou rapport protégé</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/chaude_pisse1.jpeg' %}" alt="" class="img-fluid" style="display: block; margin-bottom: 20px; width: 100%; height: 100%;">
                                                <img src="{% static 'assets/chaude_pisse2.jpeg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-6" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Chlamydiae</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>La plupart du temps inexistant, parfois des picotements urinaires, douleurs au bas ventre ou pendant les rapports sexuels Chez les femmes : pertes vaginales. Chez les hommes : sécrétions à l’extrémité de la verge  </p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Rapport sexuel non protégés avec une personne infectée. Transmission de la mère à l’enfant au cours de l’accouchement</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Ces les hommes : baisse de la fertilité. Chez les femmes : infections des trompes pouvant entrainer la stérilité ou des grossesses extra- utérine</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 2 à 6 semaines (mais peut aller jusqu’à 3 mois)</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Pendant le traitement: abstinence sexuelle ou rapport protégé. </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/chlamydiae..jpeg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-7" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">LGV (Lymphome granulomatose vénérienne) ou maladie Nicolas Favre </p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Dans les premiers jours après l’infection, apparait une petite blessure indolore. Ensuite apparaissent douleurs et fièvre.</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par contact sexuel et par échange d’objets contaminés (parfois objets de toilette)</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Non traité c’est une infection grave pouvant causer de sérieux problèmes de santé.</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 2 à 60 jours</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Pour les personnes qui ont des pratiques sexuelles hard et qui utilisent des accessoires : se protéger ainsi qu’une bonne hygiène des accessoires et des mains.</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/chaude_pisse1.jpeg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-8" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Papillomavirus (condylomes, crêtes de coq)</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Apparitions de petites verrues sur les organes génitaux, sur l’anus, dans le rectum et parfois dans la bouche, qui peuvent être rose, rouge, blanche ou grise. Chez la femme : infection du col de l’utérus, le plus souvent asymptomatique.</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par voie sexuelle par contact d’une muqueuse avec une zone du corps infectée (Condylome). Contact direct peau à peau, frottement avec une personne infectée.</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Infection du col de l’utérus. Développement possible d’un cancer du col de l’utérus</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De plusieurs semaines à plusieurs mois </p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Préservatifs i lésions sur le sexe. Surveillance prolongée afin de dépister toute récidive. Vaccination pour les adolescentes</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="assets/img/departments-5.jpg" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-9" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">Syphilis</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Petite plaie ou chancre au niveau génital, annal, buccal, ganglions éruption, tâches rosées, petite plaie ou chancre situé sur les organes génitaux ou au niveau de la bouche, de l’anus et souvent accompagné de ganglions.</p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par contact sexuel entre les muqueuses même sans pénétration (contact bouche sexe bouche anus) par le baiser si présence d’un chancre au niveau buccal. Par voie sexuelle, même le contact peau à peau suffit. </p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Non traité, la syphilis peut provoquer des atteintes graves au cerveau et au cœur.</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>De 10 jours à 3 mois</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Pendant le traitement : abstinence sexuelle ou selon les cas, rapports sexuels protégés</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <div class="position-sticky" style="top: 3.5rem;">
                                                <img src="{% static 'assets/siphylis.jpg' %}" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="departments-tab-10" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h4>Infection</h4>
                                            <p class="fst-italic">VIH</p>
                                            <hr>
                                            <h4>Symptômes</h4>
                                            <p>Le plus souvent pas de symptôme parfoissyndrome grippal </p>
                                            <hr>
                                            <h4>Modes de Transmission</h4>
                                            <p>Par voie sexuelle - par voie sanguine - par voie materno-fœtal</p>
                                            <hr>
                                            <h4>Complication ou Repercussions possible</h4>
                                            <p>Sida</p>
                                            <hr>
                                            <h4>Période d'incubation</h4>
                                            <p>Entre 7 et 10 ans</p>
                                            <hr>
                                            <h4>Prévention</h4>
                                            <p>Rapport sexuel protégé, abstinence, fidélité mutuelle, utiliser du matériel d’injection stérile et à usage unique.</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="assets/img/departments-5.jpg" alt="" class="img-fluid" style="display: block;  width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          
                </div>
          
            </section>
            <section class="bg-light py-2">
                <br>
                <div class="container marketing">
                    <h4>Tableau recapitulatif</h4>
                    <h6>Symptômes, mode de transmission et de prévention des principales Infections Sexuellement Transmissibles</h6>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-warning">
                                <tr>
                                    <th>INFECTIONS</th>
                                    <th>SYMPTOMES</th>
                                    <th>MODES DE TRANSMISSION </th>
                                    <th>
                                        COMPLICATION OU 
                                        REPERCUSSIONS 
                                        POSSIBLES 
                                    </th>
                                    <th>
                                        PERIODE 
                                        D’INCUBATION
                                    </th>
                                    <th>PREVENTION </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-hover"><a class="titre" href="">Hépatites A</a></td>
                                    <td>Fièvre, nausées, jaunisse, puis disparition des symptômes après quelques semaines </td>
                                    <td>Par contact sexuel la transmission se fait lors des rapports bouche anus </td>
                                    <td>
                                        Dans de rares cas hépatite fulminante et atteinte sévère du foie nécessitant un greffe
                                    </td>
                                    <td>
                                        15 à 45 jours
                                    </td>
                                    <td>Vaccination </td>
                                </tr>
                                <tr>
                                    <td><a class="titre" href="">Hépatite B</a></td>
                                    <td>Inexistant au niveau génital mais y'a la fièvre, fatigue, jaunisse dans 10% des cas</td>
                                    <td>
                                        Par contact sexuel et par les liquides organiques (sang, liquide jaculatoire, Sperme et sécrétions vaginales) au cours d’un tatouage ou d’un piercing avec des objets non stériles, par lésions de la peau s’il est en contact avec du sang, par les muqueuses vaginales, buccales et anales
                                    </td>
                                    <td>
                                        Maladies graves du foie Cirrhose et/ou cancer
                                    </td>
                                    <td>
                                        De 1 à 6 mois
                                    </td>
                                    <td>
                                        Il existe un vaccin contre l’hépatite B 
                                        vaccination - 
                                        dépistage - 
                                        préservatif 
                                    </td>
                                </tr>
                                <tr>
                                    <td><a class="titre" href="">Hépatite C</a></td>
                                    <td>
                                        Epuisement, fatigue, 
                                        perte d’appétit, trouble 
                                        de l’appareil digestif et 
                                        fièvre. Dans 10 à 15% des 
                                        cas, jaunisse
                                    </td>
                                    <td>
                                        Contact avec le sang même en 
                                        petite quantité, notamment lors 
                                        d’échange de seringues usagée 
                                        ou de matériel de préparation de 
                                        shoot. Au cours d’un tatouage ou 
                                        d’un piercing dans des conditions 
                                        non stériles. Le risque de 
                                        transmission sexuelle est faible  
                                    </td>
                                    <td>
                                        L’infection devient 
                                        chronique chez environ 
                                        10% des cas. En 10 et 20 
                                        des porteurs chroniques 
                                        font une cirrhose et 1à 5% 
                                        des cas évoluent en cancer 
                                        du foie
                                    </td>
                                    <td>
                                        De 15 à 150 jours 
                                    </td>
                                    <td>
                                        Utiliser le matériel 
                                        d’injection stérile à 
                                        usage unique ainsi 
                                        que le matériel de 
                                        préparation. Ceux qui 
                                        pratiquent une 
                                        sexualité hard doivent 
                                        être particulièrement 
                                        vigilants aux 
                                        saignements et 
                                        blessures. 
                                    </td>
                                </tr>
                                <tr>
                                    <td><a class="titre" href="">Herpès Génitale</a></td>
                                    <td>
                                        Au niveau des organes 
                                        génitaux de l’homme et 
                                        de la femme : brûlures,petites cloques, plaies et 
                                        démangeaisons 
                                    </td>
                                    <td>
                                        Transmission pendant 
                                        l’accouchement de la mère à 
                                        l’enfant.  
                                    </td>
                                    <td>
                                        Conséquences grave pour 
                                        le nouveau-né
                                    </td>
                                    <td>
                                        De 2 à 21 jours 
                                        ensuite réactivation 
                                        périodique  
                                    </td>
                                    <td>
                                        Pendant les 
                                        poussées, 
                                        abstinence sexuelle 
                                        et traitement, 
                                        préservatifs 
                                    </td>
                                </tr>
                                <tr>
                                    <td><a class="titre" href="">Blennorragie (Chaude pisse)</a></td>
                                    <td>
                                        Pour les hommes, 
                                        écoulement de pus à 
                                        l’extérieur de la verge, 
                                        avec une sensation de 
                                        brûlure en urinant ou 
                                        encore appelé « chaude 
                                        pisse ». Pour les femmes, 
                                        inexistant ou minimes : 
                                        pertes vaginales 
                                        picotement urinaire.
                                    </td>
                                    <td>
                                        Contact sexuel génital, oral ou 
                                        anal avec une personne infectée. 
                                        Transmission de la mère à l’enfant 
                                        pendant l’accouchement 
                                    </td>
                                    <td>
                                        Chez les hommes, baisse 
                                        de la fertilité. Chez les 
                                        femmes : infection de 
                                        trompes pouvant entrainer 
                                        la stérilité ou des 
                                        grossesses entra utérines.
                                    </td>
                                    <td>
                                        De 2 à 7 jours 
                                    </td>
                                    <td>
                                        Pendant le 
                                        traitement 
                                        Abstinence ou 
                                        rapport protégé 
                                    </td>
                                </tr>
                                <tr>
                                    <td><a class="titre" href="">Chlamydiae</a></td>
                                    <td>
                                        La plupart du temps 
                                        inexistant, parfois des 
                                        picotements urinaires, 
                                        douleurs au bas ventre 
                                        ou pendant les rapports 
                                        sexuels Chez les 
                                        femmes : pertes 
                                        vaginales. Chez les 
                                        hommes : sécrétions à 
                                        l’extrémité de la verge
                                    </td>
                                    <td>
                                        Rapport sexuel non protégés 
                                        avec une personne infectée. 
                                        Transmission de la mère à 
                                        l’enfant au cours de 
                                        l’accouchement  
                                    </td>
                                    <td>
                                        Ces les hommes : baisse 
                                        de la fertilité. Chez les 
                                        femmes : infections des 
                                        trompes pouvant entrainer 
                                        la stérilité ou des 
                                        grossesses extra- utérine 
                                    </td>
                                    <td>
                                        De 2 à 6 semaines (mais peut aller jusqu’à 3 mois)
                                    </td>
                                    <td>
                                        Pendant le 
                                        traitement : 
                                        abstinence sexuelle 
                                        ou rapport 
                                        protégé.  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="titre" href="">LGV (Lymphome granulomatose vénérienne) ou maladie de Nicolas Favre</a> 
                                    </td>
                                    <td>
                                        Dans les premiers jours 
                                        après l’infection, 
                                        apparait une petite 
                                        blessure indolore. 
                                        Ensuite apparaissent 
                                        douleurs et fièvre. 
                                    </td>
                                    <td>
                                        Par contact sexuel et par échange d’objets contaminés (parfois objets de toilette)  
                                    </td>
                                    <td>
                                        Non traité c’est une 
                                        infection grave pouvant 
                                        causer de sérieux 
                                        problèmes de santé. 
                                    </td>
                                    <td>
                                        De 2 à 60 jours  
                                    </td>
                                    <td>
                                        Pour les 
                                        personnes qui ont 
                                        des pratiques 
                                        sexuelles hard et 
                                        qui utilisent des 
                                        accessoires : se 
                                        protéger ainsi 
                                        qu’une bonne 
                                        hygiène des 
                                        accessoires et des 
                                        mains.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="titre" href="">Papillomavirus (condylomes, crêtes de coq)</a> 
                                    </td>
                                    <td>
                                        Apparitions de petites 
                                        verrues sur les organes 
                                        génitaux, sur l’anus, 
                                        dans le rectum et 
                                        parfois dans la bouche, 
                                        qui peuvent être rose, 
                                        rouge, blanche ou 
                                        grise. Chez la femme : 
                                        infection du col de 
                                        l’utérus, le plus souvent 
                                        asymptomatique.  
                                    </td>
                                    <td>
                                        Par voie sexuelle par contact 
                                        d’une muqueuse avec une zone 
                                        du corps infectée (Condylome). 
                                        Contact direct peau à peau, 
                                        frottement avec une personne 
                                        infectée. 
                                    </td>
                                    <td>
                                        Infection du col de 
                                        l’utérus. Développement 
                                        possible d’un cancer du 
                                        col de l’utérus  
                                    </td>
                                    <td>
                                        De plusieurs 
                                        semaines à 
                                        plusieurs mois  
                                    </td>
                                    <td>
                                        Préservatifs i 
                                        lésions sur le 
                                        sexe. 
                                        Surveillance 
                                        prolongée afin 
                                        de dépister 
                                        toute récidive. 
                                        Vaccination 
                                        pour les 
                                        adolescentes  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="titre" href="">Syphilis</a>   
                                    </td>
                                    <td>
                                        Petite plaie ou chancre 
                                        au niveau génital, annal, 
                                        buccal, ganglions 
                                        éruption, tâches rosées, 
                                        petite plaie ou chancre 
                                        situé sur les organes 
                                        génitaux ou au niveau 
                                        de la bouche, de l’anus 
                                        et souvent accompagné 
                                        de ganglions.
                                    </td>
                                    <td>
                                        Par contact sexuel entre les 
                                        muqueuses même sans 
                                        pénétration (contact bouche sexe 
                                        bouche anus) par le baiser si 
                                        présence d’un chancre au niveau 
                                        buccal. Par voie sexuelle, même 
                                        le contact peau à peau suffit. 
                                    </td>
                                    <td>
                                        Non traité, la syphilis 
                                        peut provoquer des 
                                        atteintes graves au 
                                        cerveau et au cœur. 
                                    </td>
                                    <td>
                                        De 10 jours à 3 mois  
                                    </td>
                                    <td>
                                        Pendant le 
                                        traitement : 
                                        abstinence sexuelle 
                                        ou selon les cas, 
                                        rapports sexuels 
                                        protégés 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="titre" href="">VIH</a> 
                                    </td>
                                    <td>
                                        e plus souvent pas de 
                                        symptôme parfois 
                                        syndrome grippal
                                    </td>
                                    <td>
                                        Par voie sexuelle - par voie 
                                        sanguine - par voie materno- 
                                        fœtal  
                                    </td>
                                    <td>
                                        Sida  
                                    </td>
                                    <td>
                                        Entre 7 et 10 ans
                                    </td>
                                    <td>
                                        Rapport sexuel 
                                        protégé, 
                                        abstinence, fidélité 
                                        mutuelle, utiliser du 
                                        matériel d’injection 
                                        stérile et à usage 
                                        unique.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
            </section>
        
        </main>

        <!-- Footer-->
        {% include "footer.html" %}

    </body>
</html>





