{% load static %}

<div class="naviga">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
        <div class="container px-3">
            <a class="navbar-brand mouvement4" href="{% url 'accueil' %}" ><img style="height: 55px; transform: translateY(-1.5px); margin-right: 7px;" src="{% static 'assets/logo.png' %}" alt=""><span class="fw-bolder text-primary logo_title">BelAvenir</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse mouvement4" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" href="{% url 'accueil' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'generalite_vih' %}">VIH</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'generalite_ist' %}">IST</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accueil' %}">Dépistage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accueil' %}">Charge Virale</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projets' %}">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
