<!DOCTYPE html>
{% load static %}
<html lang="fr">
    {% include "header.html" with mon_titre='Nos projects' %}
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include "navbar.html" %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-3 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0 mouvement1"><span class="text-gradient d-inline"> Les Projects de BelAvenir</span></h1>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 ">
                            <div class="row g-0 border bg-dark text-white rounded overflow-hidden flex-md-row mb-5 shadow-sm rounded-3 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Projet en cours depuis 2016</strong>
                                    <h3 class="mb-0">SACO CESO</h3>
                                    <p class="card-text mb-auto">Le RETACI est engagé dans le projet de valorisation du site écotouristique « le BIECHI » dans le département d’Agboville, S/P d’Attobrou en partenariat avec le Service d’Assistance Canadienne aux organismes</p>
                                    <div class="mb-1 text-muted">Nov 2016 2C3E50</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <h3 class="mb-0">JNECOTOUR</h3>
                                    <p class="card-text mb-auto">Organisation initiatrice de la 1ère, 2ème     3ème Editions des Journées Nationales de l’Ecotourisme</p>
                                    <div class="mb-1 text-muted">respectivement 2017, 2018 et 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row g-0 border bg-dark text-white rounded overflow-hidden flex-md-row mb-5 shadow-sm rounded-3 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Projet en cours depuis 2016</strong>
                                    <p class="card-text mb-auto">Installation des clubs tourisme et écotourisme dans les universités publiques et privées, les lycées et collèges de Côte d’Ivoire.</p>
                                    <div class="mb-1 text-muted">(depuis 2013)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">mise en place d’une Bourse de Tourisme communautaire dans le département d’OUME (office communal du tourisme) en partenariat avec la commune  d’Oumé</p>
                                    <div class="mb-1 text-muted">(Novembre 2014)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row g-0 border bg-dark text-white rounded overflow-hidden flex-md-row mb-5 shadow-sm rounded-3 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Projet en cours depuis 2016</strong>
                                    <p class="card-text mb-auto">Partage de nos expériences de promotion de l’écotourisme en milieu scolaire et universitaire dans plusieurs pays du monde à savoir le Japon, le Burkina Faso, la Thaïlande, Inde etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">Désignation d’une Ambassadrice de l’écotourisme en Côte d’Ivoire pour la promotion de l’écotourisme dans les universités, écoles secondaire et primaire en Côte d’Ivoire</p>
                                    <div class="mb-1 text-muted">(2018, 2019)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row g-0 border bg-dark text-white rounded overflow-hidden flex-md-row mb-5 shadow-sm rounded-3 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Projet en cours</strong>
                                    <p class="card-text mb-auto">Animation et organisation de plusieurs conférences sur le tourisme et l’écotourisme dans les universités et grandes écoles de Côte d’Ivoire.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">atelier de formation de 25 journalistes ivoiriens sur l’écotourisme.</p>
                                    <div class="mb-1 text-muted">24 au 25 Octobre 2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row g-0 border bg-dark text-white rounded overflow-hidden flex-md-row mb-5 shadow-sm rounded-3 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Projet en cours depuis 2016</strong>
                                    <h3 class="mb-0">SACO CESO</h3>
                                    <p class="card-text mb-auto">Le RETACI est engagé dans le projet de valorisation du site écotouristique « le BIECHI » dans le département d’Agboville, S/P d’Attobrou en partenariat avec le Service d’Assistance Canadienne aux organismes</p>
                                    <a href="#" class="stretched-link">Nov 2016</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">Don de matériel de salubrité à la direction du Jardin Botanique de Bingerville ;</p>
                                    <div class="mb-1 text-muted">14 Avril 2018</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">Participation du RETACI à la publication « the Report Côte d’Ivoire 2017 et 2018 » Oxford Business Group</p>
                                    <div class="mb-1 text-muted">2017 et 2018</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">projet déjà réalisé</strong>
                                    <p class="mb-auto">Mise en place d’une association villageoise de protection de l’environnement et de promotion du patrimoine touristique dans le département d’OUME en partenariat avec le service d’Assistance Canadienne aux organismes.</p>
                                    <div class="mb-1 text-muted">06 Avril 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-5 fw-bolder mb-4">Construisons quelque chose ensemble</h2>
                        <p class="btn btn-outline-light px-5 py-3 fs-6 fw-bolder">Contactez nous</p>
                    </div>
                </div>
            </section>
            <p></p>
        </main>
        <!-- Footer-->
        {% include "footer.html" %}
    </body>
</html>
